.aiinsights{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.expenseday{
    width: 80vw;
    height: 40vw;
    margin: 0 auto; 
}

@media (max-width: 430px){
    .expenseday{
        height: 300px;
        width: 300px;
    }
}